a.blogLink{
    color: #009900;
    font-size: 20px;
}

img.megumi{
    width:70%;
    height:70%;
    display: block;
    margin: 0px auto;
}

img.dango{
    width:120%;
    height:120%;
    display: block;
    margin: 0px auto;
}

img.toronto-subway{
    width:70%;
    height:70%;
    display: block;
    margin: 0px auto;
}